* {
	background-color: black;
	margin: 0;
	padding:  0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}




/*Footer*/
footer #footer {
	color: white;
	font-size: 14px;
	padding: 0.5rem 1rem;
}

footer{
	border-top: 1px solid grey;
}