* {
	background-color: black;
	margin: 0;
	padding:  0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.d-flex h1{
	color: black;
	background-color: white;
	font-size: 3rem;
	font-weight: bolder;
	padding: 4rem;
	margin-top: -0.7rem;
	margin-bottom: 4rem;
	width: 1400px;
}

.d-flex h5 {
	color: lightslategray;
	background-color: white;
	font-size: 0.8rem;
	padding: 2rem 2rem 0rem 2rem;
	width: 1400px;
}

/*image*/
#img img {
	margin-bottom: -1rem;
	padding-left: 5rem;
	padding-right: 5rem;
}


/*Contact*/
#images img {
	background-color: black;
	width: 30px;
	height: 30px;
	border-radius: 300px;
	margin-left: 4rem;
	margin-top: 3rem;
}

.name > p {
	color: white;
	padding: 0.5rem;
	margin-top: 2.6rem;
	font-size: 1rem;
}

/*Forms*/
.d-flex #form1 {
	color: white;
	font-size: 1.5rem;
	border: 1px solid white;
	padding: 2rem;
}

.d-flex button {
	border-radius: 300px;
	margin-bottom: 5rem;
}

/*Footer*/
footer #footer {
	color: white;
	font-size: 14px;
	padding: 0.5rem 1rem;
}

footer{
	border-top: 1px solid grey;
}