* {
	background-color: black;
	margin: 0;
	padding:  0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

main {
	.slit-in-diagonal-1 
	-webkit-animation: slit-in-diagonal-1 0.45s ease-out both;
	        animation: slit-in-diagonal-1 0.45s ease-out both;
}


/*Image*/
.text-center > img {
	border: 3px solid white;
	margin-top: 50px;
}

/*Name*/
.container-fluid .text-center h2 {
	color: white;
	font-family: 'Zilla Slab', serif;
	font-size: 4rem;
}

/*Full Stack Web Developer*/
.container-fluid .text-center .container h4 {
	color: white;
	margin-bottom: 5rem;
}

/*description*/
.text-justify {
	color: white;
	border: 2px solid #fac83e;
}

/*Motto*/
.text-justify #motto {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: lightskyblue;
	/*margin-left: 350px;
	margin-right: 350px;*/
}

/*Contact link*/
.container-fluid .btn {
	margin-top: 3rem;
	margin-right: 2rem;
	border-radius: 300px;
	margin-bottom: 5rem;
}

/*project*/
.container-fluid h4 {
	color: white;
	font-size: 3rem;
	font-weight: bold;
	
}

/*Footer*/
footer #footer {
	color: white;
	font-size: 14px;
	padding: 0.5rem 1rem;
}

footer{
	border-top: 1px solid grey;
}
